.logo{
	float: left;
}
.nav-bar{
 font-size: 20px;
  width: 100%;
  box-shadow: 3PX 3PX gray;
}
.nav-bar ul{
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content:center;
}
.nav-bar .logo{
width: 100px;
  position: absolute;
  top: 13px;
  left: 15px;
}

.nav-bar ul li{
  padding: 15px;
}
.nav-bar ul li a{
text-decoration: none;
color: #404040;
text-align: center;
}
.nav-bar ul li:hover{
  background-color:#4bcffa;
  color: #0D0D0D;
}




/* media part
----------------------------------------------------------------------- */
@media (max-width: 600px) {
  .nav-bar{
    width: 100%;
  }
  .nav-bar ul {
    flex-direction: column;
  }
}
body{
	margin: 0;
}
/*football page*/
#container{
	padding-top: 30px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;	
}
#container a{
	text-decoration: none;
}
#container h3{
	color: black;
}
#container div{
	width: 380px;
}
#container p{
	width: 380px;
}
@media (max-width: 500px) {
	#container{
		
		justify-content: center;
	}

	#container div img {
		width: 100%;
		border-radius: 3px;
	}

}
#footer{
	background-color: black;
	display: flex;
	justify-content: center;
}
.footer{
  width: 100%;
  height: auto;
  margin: auto;
  background:#30336b;
  padding: 20px 0px;
}
.footer .media{
  width: 100%;
  height: auto;
  margin: auto;
}
.footer .media ul{
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.footer .media ul li{
display: inline-block;
width: 50px;
height: 20px;
margin: 10px 0;
}
.footer .media ul li a{
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.footer .infooter ul{
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.footer .infooter ul li{
flex:50px;
height: 30px;
margin: 10px 0;
}
.footer .infooter ul li a{
  color: white;
  font-size: 20px;
  text-decoration: none;
}


.copyR{
height: auto;
margin: auto;
display: flex;
justify-content: center;
background:#130f40;
padding: 15px;
color: white;


}